/* .body {
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
    width: 100%;
    height: 100vh;
    background-image: url(../login/images/fondo2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.menu-dash {
    background-color: rgb(150, 177, 253);
    height: 100vh;
    color: beige;
    
}

.menu-dash2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 115px;
    margin-left: 100px;
    
}

.current {
    background-color: #ffffff;
}

.element-dash {
    font-size: 25px;
    color: beige;
}

.form-container {
    background-color: rgb(255, 255, 255);
    width: 450px;
    height: 325px;
    border-radius: 20px;
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
} */