<div class="main-div">
    <mat-card class="register-container">
        <div class="name-container">
            <h1>Register Users</h1>
        </div>
        <form class="register-form" [formGroup]="registerFormGroup">
            <div class="labels">
                <mat-form-field class="full-width">
                    <mat-label>Username</mat-label>
                    <input matInput placeholder="Username" formControlName="username">
                </mat-form-field>
                <mat-form-field class="full-width">
                    <mat-label>Email</mat-label>
                    <input matInput placeholder="Email" formControlName="email">
                </mat-form-field>
                <div class="full-width" style="display:flex; justify-content: space-between;">
                    <mat-form-field class="half-width">
                        <mat-label>Password</mat-label>
                        <input matInput placeholder="Password" type="password" formControlName="password">
                    </mat-form-field>
                    <mat-form-field class="half-width">
                        <mat-label>Confirm password</mat-label>
                        <input matInput placeholder="Password" type="password" formControlName="password2">
                    </mat-form-field>
                </div>
                <div class="buttom-container">
                    <button class="full-width bg-primary" [disabled]="registerFormGroup.invalid" mat-raised-button color="primary" (click)="register()">Registrar</button>
                </div>
                <div class="signIn">
                    <a routerLink="/login" class="login">Already have an account? Sign in</a>
                </div>
            </div>
        </form>
    </mat-card>
</div>

