<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="shortcut icon" href="images/cupcake.png"/>
        <link rel="stylesheet" type="text/css" href="login.component.css">
        <title>Sam´s Cakes</title>
    </head>
    <body>
        <div class="animate__animated animate__zoomIn">
            <div class="loginContainer">
                
            </div>
        </div>
    </body>
</html>