<!-- <div class="body">
    <div class="loginContainer">
        <div class = "loginInfo">
            <div  class="d-flex justify-content-center">
                <img src="assets/img/cupcake.png" width="120px" height="120px" alt=""/>
            </div>
           
            <h2> Sam´s Cakes </h2>
            <div class="email">
                <label> Email: </label> <br>
                <input type="email" placeholder="Insert your email"><br><br>
                <label> Password: </label><br>
                <input type="password" placeholder="Insert your password">
            </div>
            <div class="buttoms">
                <a (click) = "Google()" class="btnLoginG"><img src="assets/img/google.png" width="20px" height="20px"> 
                    Login with Google
                </a><br><br>
                <button type="submit" class="btnLogin" routerLink="/register">Login</button>
                <a routerLink="/register" class="btnRegister"> Register </a>
            </div>
        </div>
    </div>    
</div> -->

<!-- Clase Nueva-->
<div class="main-div">
    <mat-card>
        <form class="login-form" [formGroup]="loginFormGroup">

            <img src="assets/img/cupcake.png" width="120px" height="120px" alt=""/>
            <h2> Sam's Cakes </h2>

            <mat-form-field class="example-full-width">
                <mat-label>Email</mat-label>
                <input matInput placeholder="Email" formControlName="email">
            </mat-form-field>

            <mat-form-field class="example-full-width">
                <mat-label>Password</mat-label>
                <input type="password" matInput placeholder="Password" formControlName="password">
            </mat-form-field>

            <button class="button-login" [disabled]="loginFormGroup.invalid" mat-raised-button color="primary" (click)="login()">Sign in</button><br>
            <div class="sign-up-class">
                <a class="register" routerLink="/register"> Don't have an account yet? Sign up here. </a>
            </div>
            <!-- <a class="buttom-login-google" [disabled]="loginFormGroup.valid" mat-raised-button color="primary" (click)="login()"><img src="assets/img/google.png" width="20px" height="20px">Iniciar Sesion con Google</a> -->
        </form>
    </mat-card>
</div>